.flex-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.col {
  flex-direction: row;
  flex: 1;
  padding: 25px;
  margin: 10px;
  background-color: #cccaca;
}

.col span {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
}
.missionDDDto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 30px;
}
button {
  padding: 5px 5px;
  margin: 8px 5px;
  cursor: pointer;
  width: auto;
}
.missionSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.missionSelect select {
  padding: 10px;
  margin: 5px;
  width: auto;
  display: block;
}
.missionSelect span {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
}
.missionSelect button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createMissionForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.createMissionForm input,
.createMissionForm button {
  padding: 10px;
  margin: 5px;
  width: auto;
  display: block;
}
.updateMissionForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.updateMissionForm input,
.updateMissionForm button {
  padding: 10px;
  margin: 5px;
  width: auto;
  display: block;
}
.id {
  visibility: hidden;
}
