<div class="missionDDDto">
  <select name="mission" [(ngModel)]="selectedMission">
    <option *ngFor="let mission of missions" [value]="mission.id">
      {{ mission.name }}
    </option>
    <button (click)="selectMission(selectedMission)">Accept</button>
  </select>
</div>

<div class="flex-grid">
  <div class="col">
    Missions
    <span class="name">Mission Name:{{ mission.name }} </span>
    <span class="date"> Mission Date: {{ mission.date }} </span>
    <span display="none" class="planetId">
      Planet: {{ mission.planetId }}
    </span>
    <span class="description"> Description: {{ mission.description }} </span>
  </div>

  <div class="col">missions planets</div>

  <div class="col">mission discoveries</div>
</div>
