<div>
    <button *ngIf="!showForm" (click)="toggleForm()">Add a Planet</button>
    <button *ngIf="!showHistory" (click)="toggleHistory()">Show History</button>
    <div *ngIf="showForm">
        <form (ngSubmit)="addPlanet($event)">
            <span> Name </span>
            <input type="text" name="name" placeholder="name" required [(ngModel)]="planet.name"> <br>
            <span> Type </span>
            <input type="text" name="type" placeholder="type" [(ngModel)]="planet.type"> <br>
            <span> Climate </span>
            <input type="text" name="climate" placeholder="climate" [(ngModel)]="planet.climate"> <br>
            <span> Terrain </span>
            <input type="number" name="terrain" placeholder="terrain" [(ngModel)]="planet.terrain" > <br>
            <span> Population </span>
            <input type="text" name="population" placeholder="population" [(ngModel)]="planet.population" > <br>
            <button type="submit" >Create Planet</button>
        </form>
    </div>
    <div *ngIf="!showHistory">
        <div *ngFor="let planet of planets; let i = index">
            <p>Name: <span > {{ planet.name }} </span></p>
            <p>Type:<span > {{ planet.type }}</span></p>
            <p>Climate: <span c> {{ planet.climate }} </span></p>
            <p>Terrain: <span >{{ planet.terrain }} </span></p>
            <p>Population: <span > {{ planet.population }} </span></p>            
        </div>
    </div>
</div>
