.main
{
    background-color: #1f2572;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #1f2572;
    color: white;
    
}
a {
  pointer-events: auto; 
    cursor: pointer;
    margin: 10px;
}